* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  overflow: hidden;
}
header {
  margin-top: 7vh;
  margin-left: 1%;
  margin-right: 1%;
  background: rgb(199, 199, 162);
  display: flex;
  width: 98%;
}

.logo {
  font-size: 300%;
  color: yellow;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.logo span {
  color: rgb(12, 12, 65);
}
header nav ul {
  list-style: none;
  display: inline-flex;
  gap: 32%;
  margin-top: 18px;
  margin-left: 56%;
  color: rgb(6, 6, 50);
}
.list {
  font-size: 16px;
  font-weight: 520;
  cursor: pointer;
  position: relative;
}

.list-active::after {
  content: "";
  width: 0;
  height: 3px;
  background: red;
  position: absolute;
  top: 130%;
  right: -35%;
  border-radius: 25px;
  animation: ListAnimation 0.7s forwards;
}

@keyframes ListAnimation {
  0% {
    width: 0;
  }
  100% {
    width: 170%;
  }
}
