* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  /* overflow: hidden; */
  /* background: rgb(3, 3, 45); */
}

/* ---------------header starts -----------------*/

header {
  margin-top: 7vh;
  margin-left: 1%;
  margin-right: 1%;
  background: rgb(199, 199, 162);
  display: flex;
  width: 98%;
}

.logo {
  font-size: 300%;
  color: blue;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.logo span {
  color: rgb(12, 12, 65);
}

header nav ul {
  list-style: none;
  display: inline-flex;
  gap: 18.5%;
  margin-top: 20px;
  margin-left: 36%;
  color: rgb(6, 6, 50);
}

.list {
  font-size: 16.5px;
  font-weight: 520;
  cursor: pointer;
  position: relative;
  color: white;
  text-transform: uppercase;
}

.list:hover {
  opacity: 70%;
}

.list-active::after {
  content: "";
  width: 0;
  height: 3px;
  background: red;
  position: absolute;
  top: 120%;
  /* right: -12.5%; */
  left: -8%;
  border-radius: 25px;
  animation: ListAnimation 0.7s forwards;
}

.cart {
  display: flex;
}

@keyframes ListAnimation {
  0% {
    width: 0;
  }
  100% {
    width: 120%;
  }
}

/* ---------------header ends -----------------*/
/* welcome */
.welcome {
  /* margin: 18% 0 0 28%; */
  margin-left: 1%;
  margin-right: 1%;
  font-size: 50px;
  text-transform: uppercase;
  color: greenyellow;
  background: rgb(3, 3, 57);
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 3px;
}
/* ---- */

/* ---------------Section1 starts -----------------*/

.active-section {
  height: 100vh;
  /* width: 100%; */
  background: yellow;
  margin-left: 1%;
  margin-right: 1%;
}
