* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  overflow-x: hidden;
  /* background: rgb(3, 3, 45); */
}

/* ---------------header starts -----------------*/

header {
  margin-top: 2vh;
  margin-left: 1%;
  margin-right: 1%;
  background: rgb(19, 19, 19);
  display: flex;
  width: 99%;
  height: 9vh;
}

.logo {
  font-size: 300%;
  color: blue;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.logo span {
  color: yellow;
}

header nav ul {
  list-style: none;
  display: inline-flex;
  gap: 18.5%;
  margin-top: 20px;
  margin-left: 36%;
  color: rgb(6, 6, 50);
}

.list {
  font-size: 16.5px;
  font-weight: 520;
  cursor: pointer;
  position: relative;
  color: white;
  text-transform: uppercase;
}

.list:hover {
  opacity: 70%;
}

.list-active::after {
  content: "";
  width: 0;
  height: 3px;
  background: red;
  position: absolute;
  top: 120%;
  /* right: -12.5%; */
  left: -8%;
  border-radius: 25px;
  animation: ListAnimation 0.7s forwards;
}

.cart {
  display: flex;
}

@keyframes ListAnimation {
  0% {
    width: 0;
  }
  100% {
    width: 120%;
  }
}

/* ---------------header ends -----------------*/

/* ------------- main starts --------- */
/* welcome */

.welcome {
  /* margin: 18% 0 0 28%; */
  margin-left: 1%;
  margin-right: 1%;
  font-size: 50px;
  text-transform: uppercase;
  color: greenyellow;
  background: rgb(3, 3, 57);
  height: 89vh;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 3px;
}
/* ---- */

.active-section {
  min-height: 88.5vh;
  /* width: 100%; */
  background: yellow;
  margin-left: 1%;
  margin-right: 1%;
  width: 99%;
}
/* ---------------Section1 starts -----------------*/

.section {
  display: none;
}

.section1 {
  background: linear-gradient(
    to right,
    rgb(81 231 219 / 20%),
    rgb(90 99 162 / 40%),
    rgb(212 231 221 / 40%),
    rgb(138 215 179 / 60%)
  );
}

.section1 .shoping {
  /* background-color: yellow; */
  display: flex;
  margin-top: 2px;
  gap: 1%;
}

.section1 .shoping .one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
}

.section1 .shoping .one h1 {
  color: rgb(7, 7, 38);
  font-size: 45px;
  word-spacing: 4px;
}

.section1 .shoping .one p {
  font-size: 25px;
  margin: 50px 0 0 36px;
  color: goldenrod;
}

.section1 .shoping .one .demo {
  font-size: 100px 10px 0 0;
  cursor: pointer;
  background: red;
  padding: 10px;
  margin-top: 90px;
  margin-right: 100px;
  border-radius: 6px;
  color: white;
  transition: 0.5s background;
}

.section1 .shoping .one .demo:hover {
  background: green;
}

.section1 .shoping .one .demo i {
  margin-right: 5px;
}

.section1 .shoping img {
  width: 48%;
  margin-top: 50px;
  margin-right: 2%;
  border-radius: 10px;
  box-shadow: 1px 0 4px rgba(0, 0, 0, 0.7);
}

.section1 .show-service {
  margin-top: 10%;
}

.section1 .show-service h1 {
  text-align: center;
}

.section1 .show-service p {
  text-align: center;
}

.section1 .show-service .service-box {
  display: flex;
}
